!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en", "dir" => "ltr", "xmlns:og" => "http://ogp.me/ns#", "xmlns:mixi" => "http://mixi-platform.com/ns#", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %title= @site ? @site.title : "若手の会"
    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=utf-8"}
    =# stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "/theme/wakate/tbs204/css/bootstrap.min.css", :media => "all"
    = stylesheet_link_tag "/theme/wakate/global.css", :media => "all"
    =# stylesheet_link_tag params[:controller]
    =# favicon_link_tag "/favicon.png"
    =# csrf_meta_tag
    -#%meta{:property => "og:image", :content => "https://gitrecipes.com/assets/logo.png"}
    =# yield :head
  %body
    #wrapper
      #main
        .navbar.navbar-fluid-top
          = partial "navbar"
        =# render :partial => "layouts/header"
        .row-fluid
          .span8
            #main-pane
              = yield
          .span4
            #sub-pane
              = partial 'sub-pane'
        .row-fluid
          #foot-pane
            = partial "foot-pane"
        =# render :partial => "layouts/footer"
  =# javascript_include_tag "application"
  = javascript_include_tag "/theme/wakate/tbs204/js/bootstrap.min.js"
  =# yield :foot
