.well
  %h4
    %i.icon-flag
    About
  %p
    情報科学若手の会は，情報科学に携わる学生，若手研究者、
    社会人のディスカッションと交流の会です．幅広い分野から参加者を募り，
    互いの交流を深めることで新たな発想が生まれることを目指しています．
    インフォーマルな雰囲気ですので，これから研究を始めるという方も是非ご参加下さい．
  %p
    = link_to "過去開催一覧はこちら",   "http://wakate.org/4" <br />
    = link_to "Facebook Groupはこちら", "http://www.facebook.com/groups/149141961845042/"
.well
  %h4
    %i.icon-tasks
    = t 'recent_entries'
  %ul
    - Post.recent(5).each do |post|
      %li.entry
        = link_to post.title, url(post.link)
.well
  %h4
    %i.icon-folder-close
    アーカイブ
  %ul
    - months.each do |month|
      %li.entry
        = link_to "#{month.year}/#{month.month}", "/#{month.year}/#{month.month}"

